
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333; /* Main text color */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header, footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
    background-color: #fff; /* Set section background color */
    border-radius: 8px; /* Add rounded corners to sections */
    margin-bottom: 30px; /* Add space between sections */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Center align section headings */
}

.project {
    margin-bottom: 40px;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.project h3 {
    padding: 20px;
    font-size: 1.2rem;
    color: #333;
    text-align: center; /* Center align project titles */
}

.project p {
    padding: 0 20px 20px;
    color: #666;
    text-align: center; /* Center align project descriptions */
}

.contact-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    resize: horizontal;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}
